.signup-form{
    width: 100%;
    max-width: 300px;
    padding: 15px;
    margin: auto;
    height: 100%;
}
.modification{
    display: inline-block;
    margin-top: 200px;
    margin-left: 8em;
}
.red{
    color: red;
}

.bg-navbar {
    background-color: #f7f7f7;
} 

.active {
    background-color: #0bbfbc;
}
.bg{ 
    background-color: #0bbfbc;
}

.big-text{
    font-size: 35px;
    padding: 20px 0;
    margin-top: 30px;
}
.img-responsive{
width: 600px;
}
.short-text {
    font-size: 20px;
    background-color: #0bbfbc;
    color: white;
    width: 300px ;
    text-align: center;
}